<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <!--===========開發環境IACER-NB\SQLEXPRESS、DESKTOP-SHBO2EM\SQLEXPRESS===========-->
    <!--爭救案系統-->
    <add name="dev_optk" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sikopt;User ID=sa;Password=xxoo33" />
    <!--爭救案件管理系統用-->
    <add name="dev_optBN" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sindbs;User ID=sa;Password=xxoo33" />
    <add name="dev_optBC" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sindbs;User ID=sa;Password=xxoo33" />
    <add name="dev_optBS" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sindbs;User ID=sa;Password=xxoo33" />
    <add name="dev_optBK" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sindbs;User ID=sa;Password=xxoo33" />
    <add name="dev_optBM" connectionString="Server=IACER-NB\SQLEXPRESS;Database=simdbs;User ID=sa;Password=xxoo33" />
    <!--帳款資料使用，連結區所帳款系統-->
    <add name="dev_Nacc" connectionString="Server=IACER-NB\SQLEXPRESS;Database=account;User ID=sa;Password=xxoo33" />
    <!--sysctrl-->
    <add name="dev_sysctrl" connectionString="Server=IACER-NB\SQLEXPRESS;Database=sysctrl;User ID=sa;Password=xxoo33" />
    <!--===========測試環境===========-->
    <!--爭救案-->
    <add name="test_optk" connectionString="Server=web01;Database=sikopt;User ID=web_usr;Password=web1823" />
    <!--爭救案件管理系統用-->
    <add name="test_optBN" connectionString="Server=web01;Database=sindbs;User ID=web_usr;Password=web1823" />
    <add name="test_optBC" connectionString="Server=web01;Database=sindbs;User ID=web_usr;Password=web1823" />
    <add name="test_optBS" connectionString="Server=web01;Database=sindbs;User ID=web_usr;Password=web1823" />
    <add name="test_optBK" connectionString="Server=web01;Database=sindbs;User ID=web_usr;Password=web1823" />
    <add name="test_optBM" connectionString="Server=web01;Database=simdbs;User ID=web_usr;Password=web1823" />
    <!--sysctrl-->
    <add name="test_sysctrl" connectionString="Server=web10;Database=sysctrl;User ID=web_usr;Password=web1823" />
    <!--===========正式環境===========-->
    <!--爭救案-->
    <add name="prod_optk" connectionString="Server=web08;Database=sikopt;User ID=web_usr;Password=web1823" />
    <!--爭救案件管理系統用-->
    <add name="prod_optBN" connectionString="Server=sinn05;Database=sindbs;User ID=web_usr;Password=web1823" />
    <add name="prod_optBC" connectionString="Server=sic10;Database=sicdbs;User ID=web_usr;Password=web1823" />
    <add name="prod_optBS" connectionString="Server=sis10;Database=sisdbs;User ID=web_usr;Password=web1823" />
    <add name="prod_optBK" connectionString="Server=sik10;Database=sikdbs;User ID=web_usr;Password=web1823" />
    <add name="prod_optBM" connectionString="Server=sin33;Database=simdbs;User ID=web_usr;Password=web1823" />
    <!--帳款資料使用，連結區所帳款系統-->
    <add name="prod_Nacc" connectionString="Server=sinn05;Database=account;User ID=web_usr;Password=web1823" />
    <add name="prod_Cacc" connectionString="Server=sic10;Database=account;User ID=web_usr;Password=web1823" />
    <add name="prod_Sacc" connectionString="Server=sis10;Database=account;User ID=web_usr;Password=web1823" />
    <add name="prod_Kacc" connectionString="Server=sik10;Database=account;User ID=web_usr;Password=web1823" />
    <!--sysctrl-->
    <add name="prod_sysctrl" connectionString="Server=sik10;Database=sysctrl;User ID=web_usr;Password=web1823" />
  </connectionStrings>
  <appSettings>
    <add key="Project" value="國內所商標爭救案件系統" />
    <add key="ITScode" value="m1583;m802;" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" batch="true" maxBatchGeneratedFileSize="10000" maxBatchSize="10000" targetFramework="4.0">
      <assemblies>
        <!--add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/-->
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>-->
    <!--<customErrors mode="On" defaultRedirect="~/inc/uAccess.htm" redirectMode="ResponseRewrite">
      <error statusCode="500" redirect="~/500-error.aspx" />
    </customErrors>-->
    <customErrors mode="Off" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120" stateNetworkTimeout="40" />
    <httpRuntime maxRequestLength="204800" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="X-UA-Compatible" value="IE=9" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <error statusCode="500" subStatusCode="100" path="/500-error.asp" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="svr" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="20240000" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>