body {
	background-image: url('../images/bg.jpg');
	font-size: 12pt;
	font-family: 微軟正黑體, Verdana, Arial;
}

.tabon {
	font-size: 10pt;
	color: #ffffff;
	text-decoration: none;
}

.tab {
	FONT-SIZE: 10pt;
	COLOR: #000066;
	TEXT-DECORATION: none;
}

.bg {
	background-color: #ddd;
}

.bg1 {
	background-color: #999;
}

.bg2 {
	background-color: #555;
}

.bg3 {
	background-color: #800;
}

div.ship {
	border: solid 2px #77a;
	margin: 2px 2px 2px 2px;
	padding: 1px 3px 1px 2px;
	float: left
}

a:hover {
	font-size: 10pt;
	color: red;
	text-decoration: none;
}

A {
	font-size: 10pt;
	color: #000088;
	text-decoration: none;
}

	a img {
		border: none;
	}

hr {
	height: 1px;
	color: #000088;
	background-color: #000088;
}

.tdbg1 {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	background-color: #aa0000;
}

.tdbg0 {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	background-color: #336699;
}

.tdbgA {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	background-color: #aa0000;
}

.tdbgI {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	background-color: #000088;
}

.tdbgB {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	background-color: #336699;
}

.tdbg {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	background-color: #ffffcc;
}

.text9-white {
	FONT-SIZE: 10pt;
	COLOR: #ffffff;
	TEXT-DECORATION: none;
}

.text1 {
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
	font-family: 微軟正黑體, Verdana, Arial;
}

.text9 {
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
	font-family: 微軟正黑體, Verdana, Arial;
}

.menupad {
	padding: 3px 5px 3px 15px;
	background-color: #eee;
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	border-left: solid 2px #fff;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #888;
	border-right: solid 2px #888;
	/*border: solid 1px #005;*/
}

.menuitem {
	padding: 2px 1px 1px 2px;
	color: #000;
	background-color: #eee;
	cursor: pointer;
	height: 18px;
}

	.menuitem:hover {
		color: #fff;
		background-color: #005;
		cursor: pointer;
		height: 18px;
	}

.bluetable {
	border-right: mediumblue;
	border-top: mediumblue;
	font-size: 10pt;
	border-left: mediumblue;
	color: #000000;
	border-bottom: mediumblue;
	background-color: #06d;
}

.greentable {
	border-right: mediumblue;
	border-top: mediumblue;
	font-size: 10pt;
	border-left: mediumblue;
	color: #000000;
	border-bottom: mediumblue;
	background-color: #086;
}

.browntable {
	border-right: mediumblue;
	border-top: mediumblue;
	font-size: 12pt;
	border-left: mediumblue;
	color: #000000;
	border-bottom: mediumblue;
	background-color: #A80;
	padding: 0px 0px 0px 0px;
}

.lightbluetable {
	font-size: 10pt;
	color: #000;
	background-color: #8bf;
}

.lightbluetableA {
	font-size: 10pt;
	color: #000;
	background-color: #8df;
}

.lightbluetable1 {
	font-size: 10pt;
	color: black;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	background-color: #369;
	border-bottom-style: none;
}

.lightbluetables2 {
	font-size: 10pt;
	color: #000;
	background-color: #cff;
}

.lightgreentable {
	font-size: 10pt;
	color: #000;
	background-color: #8fa;
}

.query {
	font-size: 10pt;
	color: #000;
	background-color: #ef0;
}

.browntablebg {
	font-size: 10pt;
	color: #fff;
	background-color: #940;
}

.normalday {
	font-size: 10pt;
	color: #000;
	background-color: #ffa;
}

.holiday {
	font-size: 10pt;
	color: #000;
	background-color: #fa0;
}

.busyday {
	font-size: 10pt;
	color: #000;
	background-color: #0dd;
}

.naday {
	font-size: 10pt;
	color: #000;
	background-color: #888;
}

.whitetablebg {
	font-size: 10pt;
	color: #000;
	background-color: #fff;
}

.whitetablebgA {
	font-size: 10pt;
	color: #000;
	background-color: #fff;
}

.whitetablebg1 {
	font-size: 10pt;
	color: #000;
	background-color: #ddd;
}

.whitetablebg2 {
	font-size: 10pt;
	color: #000;
	background-color: #bff;
}

.whitetablebg3 {
	font-size: 10pt;
	font-weight: bolder;
	color: #00f;
	background-color: #ffffff;
}

.yellowtablebg {
	font-size: 10pt;
	background-color: #ffff00;
}

.redtablebg {
	font-size: 10pt;
	background-color: #ff0000;
	color: white;
}

.Edit {
    font-size: 12pt;
}

.EditCenter {
    font-size: 12pt;
    text-align: center;
}

.EditRight {
    text-align: right;
}


.SEdit {
    font-size: 10pt;
	border-style: none;
	border-width: 0px;
}

.SEditCenter {
    font-size: 10pt;
    text-align: center;
	border-style: none;
	border-width: 0px;
}

.SEditRight {
    text-align: right;
	border-style: none;
	border-width: 0px;
}

.FormName {
	font-size: 10pt;
	color: #000000;
}

.Formtext {
	font-size: 10pt;
	color: #000000;
}

.FormLink {
	font-weight: normal;
	font-size: 10pt;
	color: #0000cc;
}

.MenuName {
	font-weight: bold;
	font-size: 10pt;
	color: #ffcc00;
}

.Formbody {
	font-size: 10pt;
	color: #000000;
}

.FormRtext {
	font-size: 10pt;
	color: #000080;
}

.English {
	font-size: 10pt;
	color: #808080;
}

.xSunDay {
	font-size: 10pt;
	color: #000080;
	background-color: #ffddbb;
}

.xSatDay {
	font-size: 10pt;
	color: #000080;
	background-color: #ffe8e8;
}

.HeadText {
	FONT-SIZE: 10pt;
	COLOR: #000080;
}

.tab-title {
	font-size: 10pt;
	background-image: url(../images/tab.gif);
	cursor: pointer;
	color: #ffff99;
}

.tab-titleon {
	font-size: 10pt;
	background-image: url(../images/tabon.gif);
	cursor: pointer;
	color: #222200;
}

.CliMod {
	BACKGROUND-COLOR: pink;
}

.CliOrg {
	BACKGROUND-COLOR: white;
}

.conts {
	DISPLAY: none;
}

td.tab {
	cursor: pointer;
	font-size: 10pt;
	padding-bottom: 0pt;
	padding-top: 3px;
	text-align: center;
	width: 110px;
}

td.notab {
	background: url(../images/notab.gif) no-repeat top left;
	font-weight:bold;
	color: navy;
}

td.seltab {
	background: url(../images/seltab.gif) no-repeat top left;
	font-weight:bold;
	color: royalblue;
}

td.btab {
	font-weight: normal;
	font-size: 10pt;
	cursor: default;
	color: #185590;
	border-right: gray thin solid;
	border-top: #ffcc00 thin solid;
	border-left: #faebb6 thin solid;
	border-bottom: gray thin solid;
	background-color: #ffcc00;
}

div.tabCont {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
}

.Exm0 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #ffe0e0;
}

.Exm1 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #e0e0ff;
}

.Exm2 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #ffffff;
}

.bttab {
	font-size: 10pt;
	color: #185590;
	background-color: transparent;
}

input {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
}

select {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
}

td {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
}

.BottomFrame {
	margin-top: 0px;
	background-color: lightyellow;
}

.rowtablebg {
	background-color: beige;
}

.sfont9 {
	FONT-SIZE: 9pt;
	BACKGROUND-COLOR: white;
}

.FormText1 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: white;
}

.c1button {
	border-right: medium none;
	border-top: medium none;
	padding-left: 2px;
	font-size: 10pt;
	border-left: medium none;
	cursor: pointer;
	color: white;
	line-height: 10px;
	padding-top: 4px;
	border-bottom: medium none;
	background-color: #9966cc;
}

input.cbutton {
	color: #fff;
	cursor: pointer;
	background-color: #059;
	border: solid 1px;
	border-color: #8df #009 #009 #8df;
	padding-top: 4px;
	/*
	font: small 84% Verdana, Arial;
    padding: 2px 4px 2px 4px;
	filter:progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ff0088dd',EndColorStr='#ff002266');
*/
}

input.gbutton {
	color: #fff;
	cursor: pointer;
	background-color: #073;
	border: solid 1px;
	border-color: #8eb #080 #080 #8eb;
	padding-top: 4px;
	/*
	font: small 84% Verdana, Arial;
    padding: 2px 4px 2px 4px;
	filter:progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ff0088dd',EndColorStr='#ff002266');
*/
}

input.c3button {
	color: #fff;
	cursor: pointer;
	background-color: #059;
	border: solid 1px;
	border-color: #8df #009 #009 #8df;
	height: 20px;
	padding-top: 1px;
	/*
	padding-left: 2px;
	padding-bottom: -2px;
	padding-right: 2px;
	*/
}

input.g3button {
	color: #fff;
	cursor: pointer;
	background-color: #073;
	border: solid 1px;
	border-color: #8eb #080 #080 #8eb;
	height: 20px;
	padding-top: 1px;
	/*
	padding-left: 2px;
	padding-bottom: -2px;
	padding-right: 2px;
	*/
}

input.cbutton1 {
	color: #fff;
	cursor: pointer;
	background-color: #059;
	border: solid 1px;
	border-color: #8df #009 #009 #8df;
	padding: 1px 1px 0px 1px;
}

input.ybutton {
	color: #fff;
	cursor: pointer;
	font: small 84% Verdana, Arial;
	padding: 2px 4px 2px 4px;
	background-color: #d80;
	border: solid 1px;
	border-color: #8df #009 #009 #8df;
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffdd8800',EndColorStr='#ff444400');
}

input.rbutton {
	color: #fff;
	cursor: pointer;
	background-color: #d20;
	border: solid 1px;
	border-color: #8df #009 #009 #8df;
	padding-top: 4px;
	/*
	font: small 84% Verdana, Arial;
	padding: 2px 4px 2px 4px;
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffdd2200',EndColorStr='#ff662200');
	*/
}

input.redbutton {
	color: white;
	cursor: pointer;
	background-color: #d00;
	border: solid 1px;
	border-color: #f88 #900 #900 #f88;
	padding-top: 4px;
	/*
	line-height: 20px;
	font: small 84% 'trebuchet ms',helvetica,sans-serif;
	padding: 4px 8px 4px 8px;
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffdd0000',EndColorStr='#ff660000');
	*/
}

.ibutton {
	border-right: medium none;
	padding-right: 0px;
	border-top: medium none;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: medium none;
	cursor: pointer;
	color: blue;
	padding-top: 0px;
	border-bottom: medium none;
	height: 11pt;
	background-color: white;
	text-align: center;
}

.lightbluetable3 {
	font-size: 10pt;
	color: black;
	background-color: lightcyan;
}

.sedit1 {
	border-right: medium none;
	border-top: medium none;
	border-left: medium none;
	border-bottom: medium none;
	background-color: #88ddff;
}

td.notab1 {
	cursor: pointer;
	background: url(../images/notab.gif) no-repeat top left;
	font-size: 10pt;
	color: #005;
	padding-bottom: 0pt;
	padding-top: 3px;
	text-align: center;
	width: 132px;
}

td.seltab1 {
	cursor: pointer;
	background: url(../images/seltab.gif) no-repeat top left;
	font-size: 10pt;
	color: white;
	padding-bottom: 0pt;
	padding-top: 3px;
	text-align: center;
	width: 132px;
}

.data1 {
	font-size: 10pt;
	color: darkslateblue;
	text-indent: 8pt;
	background-color: aliceblue;
	text-align: left;
}

.data2 {
	FONT-SIZE: 10pt;
	COLOR: darkslateblue;
	BACKGROUND-COLOR: #ffff99;
}

.data3 {
	FONT-SIZE: 10pt;
	COLOR: darkblue;
	BACKGROUND-COLOR: #ccff66;
}

.data11 {
	FONT-SIZE: 7pt;
	COLOR: #6666cc;
	BACKGROUND-COLOR: aliceblue;
	TEXT-ALIGN: right;
}

.data22 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #ffff99;
}

.data33 {
}

.data20 {
	BACKGROUND-COLOR: lightgrey;
}

.data10 {
	FONT-SIZE: 10pt;
	COLOR: dodgerblue;
	TEXT-INDENT: 8pt;
	BACKGROUND-COLOR: aliceblue;
	TEXT-ALIGN: left;
}

.delbutton {
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: 10pt;
	BORDER-LEFT: 1px solid;
	CURSOR: pointer;
	COLOR: white;
	LINE-HEIGHT: 10pt;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: 1px solid;
	BACKGROUND-COLOR: #9966cc;
}

.data14 {
	BORDER-RIGHT: lightgrey;
	BORDER-TOP: lightgrey;
	FONT-SIZE: 11pt;
	BORDER-LEFT: lightgrey;
	COLOR: indigo;
	TEXT-INDENT: 20pt;
	BORDER-BOTTOM: lightgrey;
	BACKGROUND-COLOR: lightcyan;
	TEXT-ALIGN: left;
}

.data34 {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	FONT-SIZE: 11pt;
	BORDER-LEFT: medium none;
	COLOR: darkblue;
	BORDER-BOTTOM: medium none;
	BACKGROUND-COLOR: #ccff66;
}

.data24 {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	FONT-SIZE: 11pt;
	BORDER-LEFT: medium none;
	COLOR: darkslateblue;
	BORDER-BOTTOM: medium none;
	BACKGROUND-COLOR: #ffff99;
}

.bluetable1 {
	BORDER-RIGHT: lightsteelblue;
	BORDER-TOP: lightsteelblue;
	PADDING-BOTTOM: 10pt;
	BORDER-LEFT: lightsteelblue;
	PADDING-TOP: 10pt;
	BORDER-BOTTOM: lightsteelblue;
	BACKGROUND-COLOR: lightskyblue;
}

.data15 {
	FONT-SIZE: 11pt;
	COLOR: orangered;
	TEXT-INDENT: 20pt;
	BACKGROUND-COLOR: lightcyan;
	TEXT-ALIGN: left;
}

.bluebutton {
	BORDER-RIGHT: 1px;
	BORDER-TOP: 1px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 10pt;
	BORDER-LEFT: 1px;
	CURSOR: pointer;
	COLOR: white;
	LINE-HEIGHT: 10pt;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: 1px;
	BACKGROUND-COLOR: steelblue;
}

.lightbluetable2 {
	FONT-SIZE: 10pt;
	COLOR: white;
	BACKGROUND-COLOR: #006699;
}

.greentablebg {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #dbf9ff;
}

.sedit2 {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	BORDER-BOTTOM: medium none;
	BACKGROUND-COLOR: #dbf9ff;
}

.bluetext {
	FONT-SIZE: 10pt;
	COLOR: #000000;
	BACKGROUND-COLOR: #88ddff;
}

.bluedata {
	FONT-SIZE: 10pt;
	COLOR: darkslateblue;
	BACKGROUND-COLOR: aliceblue;
}

.bluetext11 {
	FONT-SIZE: 10pt;
	COLOR: navy;
	BACKGROUND-COLOR: darkslateblue;
}

.bluetext2 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: #88ddff;
}

.bluedata2 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: white;
}

.bluedata21 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: lightcyan;
}

.bluetext3 {
	FONT-SIZE: 10pt;
	COLOR: navy;
	BACKGROUND-COLOR: lightgoldenrodyellow;
	TEXT-ALIGN: center;
}

.bluedata3 {
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	COLOR: mediumblue;
	BACKGROUND-COLOR: lemonchiffon;
}

.yellowtext {
	FONT-SIZE: 10pt;
	COLOR: navy;
	BACKGROUND-COLOR: #ffffcc;
}

.darkbluetext {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: darkslateblue;
}

.whitetext {
	FONT-SIZE: 10pt;
	COLOR: navy;
}

.bluetext1 {
	FONT-SIZE: 10pt;
	COLOR: navy;
	BACKGROUND-COLOR: #ffffcc;
}

.data4 {
	FONT-SIZE: 10pt;
	COLOR: darkblue;
	BACKGROUND-COLOR: lavender;
}

.remark {
	FONT-SIZE: 10pt;
	COLOR: slategray;
}

.c2button {
	FONT-SIZE: 10pt;
	COLOR: navy;
	BACKGROUND-COLOR: lightsteelblue;
}

.title1 {
	FONT-SIZE: 10pt;
	COLOR: navy;
	HEIGHT: 16pt;
	BACKGROUND-COLOR: lightblue;
	TEXT-ALIGN: center;
}

.title2 {
	FONT-SIZE: 10pt;
	COLOR: slateblue;
	BACKGROUND-COLOR: lavender;
}

.data31 {
	FONT-SIZE: 10pt;
	COLOR: darkblue;
	BACKGROUND-COLOR: #ccff99;
}

.sedit3 {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	BORDER-LEFT: medium none;
	COLOR: red;
	BORDER-BOTTOM: medium none;
}

.bluetext4 {
	FONT-SIZE: 10pt;
	BACKGROUND-COLOR: lightgoldenrodyellow;
	TEXT-ALIGN: left;
}

.graytablebg {
	font-size: 12pt;
	color: #000;
	background-color: #e0f0f0;
	padding: 2px 2px 2px 2px;
}

.lightbluetable4 {
	COLOR: black;
	BACKGROUND-COLOR: #cccccc;
}

textarea {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
}

.numeric {
	font-size: 12pt;
	text-align: right;
}

.numeric1 {
	text-align: center;
}

.numericRead
{
	font-size: 12pt;
    TEXT-ALIGN: right;
    BORDER-BOTTOM-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BACKGROUND-COLOR: white;
    BORDER-TOP-STYLE: none;
    BORDER-LEFT-STYLE: none
}

fieldset {
	margin: 2px 5px 0px 5px;
	padding: 10px 0px;
	background-color: transparent;
}

legend {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	padding: 2px 5px;
	margin: 2px 5px;
	background-color: #006;
}

legend.darkgrn {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: white;
	padding: 2px 5px;
	margin: 2px 5px;
	background-color: #040;
}

legend.wht {
	font-size: 10pt;
	font-family: 微軟正黑體, Verdana, Arial;
	color: #000;
	padding: 2px 5px;
	margin: 2px 5px;
	background-color: #fff;
	border: solid 1px #f00;
}

td.hrline {
	height: 2px;
	padding: 0px 0px 0px 0px;
}

input.dateField {
}

input.dateField1 {
}

span.gl {
}

span.xl {
	color: red;
	font-weight: bold;
}

.treetype {
	color: #008;
	cursor: pointer;
	font-weight: bolder;
}

.treeitem {
	color: #008;
	cursor: pointer;
	font-weight: bolder;
}

.apcat-bg {
	background-color: #48a;
}

.apcat-fw {
	background-color: #7af;
}

.ap-bg {
	background-color: #aa8;
}

.aphead {
	background-color: #ffa;
}

.apname {
	background-color: #9d0;
}

.aprights {
	background-color: #fff;
}

tbody.apct {
}

img.imgAPcat {
}

u.setOdr {
	cursor: pointer;
	color: blue;
}

u.setOdr:hover {
	color: red;
	font-weight: bold;
}

u.pgGo {
	cursor: pointer;
	color: blue;
}

u.pgGo:hover {
	color: red;
	font-weight: bold;
}

u.GoEdit {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

u.GoEdit:hover {
	color: red;
	font-weight: bold;
}

u.GoView {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

u.GoView:hover {
	color: red;
	font-weight: bold;
}

u.GoEditG {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

u.GoEditG:hover {
	color: red;
	font-weight: bold;
}

u.GoEditA {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

u.GoEditA:hover {
	color: red;
	font-weight: bold;
}

span.GoList {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

span.GoList:hover {
	color: red;
	font-weight: bold;
}

tr.defc {
}

.ximg {
	cursor: pointer;
}

.ximg:hover {
	cursor: pointer;
	font-weight: bolder;
}

.Blck0 {
	cursor: pointer;
}

.Blck0:hover {
	cursor: pointer;
	font-weight: bolder;
}

.Blck1 {
	cursor: pointer;
}

.Blck1:hover {
	cursor: pointer;
	font-weight: bolder;
}

.Blck2 {
	cursor: pointer;
}

.Blck2:hover {
	cursor: pointer;
	font-weight: bolder;
}

.Blck3 {
	cursor: pointer;
}

.Blck3:hover {
	cursor: pointer;
	font-weight: bolder;
}

input.arwl { }
input.arwr { }
input.arwu { }
input.arwd { }
input.invchk { }
input.chk { }
input.btn1 { }
input.btn2 { }
input.btn3 { }
input.btn4 { }
input.btn5 { }

.Grp0 {
    cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp0:hover {
    color: red;
	font-weight: bold;
}

.Grp1 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp1:hover {
	color: red;
	font-weight: bold;
}

.Grp2 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp2:hover {
	color: red;
	font-weight: bold;
}

.Grp3 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp3:hover {
	color: red;
	font-weight: bold;
}

.Grp4 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp4:hover {
	color: red;
	font-weight: bold;
}

.Grp5 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp5:hover {
	color: red;
	font-weight: bold;
}

.Grp6 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp6:hover {
	color: red;
	font-weight: bold;
}

.Grp7 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp7:hover {
	color: red;
	font-weight: bold;
}

.Grp8 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}

.Grp8:hover {
	color: red;
	font-weight: bold;
}

.Grp9 {
	cursor: pointer;
	color: blue;
	font-weight: bold;
}
.Grp9:hover {
	color: red;
	font-weight: bold;
}
.vGrp0 { }
.vGrp1 { }
.vGrp2 { }
.vGrp3 { }
.vGrp4 { }
.vGrp5 { }
.vGrp6 { }
.vGrp7 { }
.vGrp8 { }
.vGrp9 { }
.uGrp0 {
	cursor: pointer;
}

.errlog {
	/*color:#ff0000;*/
	color:MEDIUMVIOLETRED;
	font-size: 10pt;
}

.enter
{
    background-color: #ffff99;
}

.chkError {
	border:2px solid #ff0000;
	background-color: #FC7E7E;
}

.navbar-nav >li>a {
    background-color:#00f;
    border-right:1px solid #333;
	padding:0px;
	padding-right:5px;
	padding-left:5px;
}