body
	{width:554px;
	height:415px;}
.T
	{text-align:center;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:3;
	font-size:220%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:160%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:140%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:100%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:100%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O
	{text-align:left;
	font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CT
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4
	{font-family:新細明體;
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	layout-flow:vertical;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:新細明體;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:新細明體;
	mso-hansi-font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:vertical;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-fareast-language:ZH-TW;
	mso-ansi-language:EN-US;}
a:link
	{color:#CC00CC !important;}
a:active
	{color:#99FFCC !important;}
a:visited
	{color:#B2B2B2 !important;}
